.box{
    width: 300px;
    Height: 200px;
    padding: 0px 40px 40px 40px;
    Margin: 40px;
    border-style: dashed;
    border-color: red;
    border-width: 25px;
    background-color: beige;
    font-size: 20px;
}